<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<form>
  <div class="container">
    <h3 style="text-align:center">List Of Words Searched</h3>
    <table class="table" style="width:50%; margin: auto; text-align: center">
      <tr>
        <th>Searched words</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let searchList of searchedList">
        <td>{{searchList.searchwords}}</td>
        <td><button class="btn btn-danger" (click)="remove(searchList.id)">Remove</button></td>
      </tr>
    </table>
    <div class="text-center">
      <button class="btn btn-link" (click)="goback()" id="goback">Go back</button>
    </div>
  </div>

</form>