
h2{margin-top:-5px;
    text-align:center; font-family:cursive;color: rgb(131, 64, 26);
}
#txtSearch{float: right;
    height: 35px; width: 25%;
}
#searchbtn{
    float: right;
}
#Searchbtn{
    float: right; margin-left: 100%;
}
#previousSearchbtn{
    margin-left: 0;
}
#searchedwords{
    margin-top: -35px;
}
.nav-item .nav-link:hover { 
    color: black
  }

.navbar-nav{ 
float: right;
}

.navbar-brand{font-family: cursive; font-size: 30px; 
    color: rgb(131, 64, 26)
}
.nav-item .nav-link{ font-size: 20px; margin-right: 10px;
    color: rgb(131, 64, 26);
}
.clearfix{
   padding: 20px;
}
.btn-success:hover{
    color: black
}

.btn-outline-secondary
{
    color: rgb(104, 52, 21)
}

.btn-outline-secondary:hover{
    color: rgb(51, 24, 124)
}

.card{
    width:30rem; color:rgb(46, 10, 104);
    background-color: rgb(174, 230, 216);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#address{
    margin-left:60%; margin-top: 5%; text-align: justify;
    color: rgb(104, 52, 21)
}

#modalhead{
    color: rgb(104, 52, 21); background-color: rgb(164, 224, 187);
}
#modalfooter{
    color: rgb(104, 52, 21); background-color: rgb(164, 224, 187)

}
.btn-secondary:hover{
    color: rgb(59, 11, 230)
}
